<!-- Toolbar area -->
<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <h1>{{ title }}</h1>
    </span>
    <span class="fill-remaining-space"></span>
    <span>
    <button mat-icon-button (click)='filter_toggle=!filter_toggle'>
        <i class="material-icons">filter_list</i>
      </button>
      <button mat-icon-button (click)='randomRecipie()'>
        <i class="fas fa-random"></i>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign.gt-sm="center">
  <div fxLayout="column" class="wrapper">
    <!-- Filter Sections -->
    <div *ngIf="filter_toggle">
      <h2>Filter</h2>
      <div>
        <mat-button-toggle *ngFor="let item of ingridients_list; let i = index" (click)=toggleIngridient(i)>
          {{ item.name }}
        </mat-button-toggle>
      </div>
    </div>

    <!-- Recipie section -->
    <h2>{{ recipie_list[current_index].name }}</h2>
    <div fxFlex>
      <p>
        Recipie #{{ current_index+1 }}
        <br>
        {{ recipie_list[current_index].port }} port
        <br><br>
        {{ recipie_list[current_index].desc }}
      </p>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex>
        <h3 fxHide.md fxHide.lt-md>Ingridienser</h3>
        <button mat-button fxHide.gt-md (click)='ingr_toggle=!ingr_toggle'>
          <h3>Ingridienser</h3>
        </button>
        <table *ngIf="ingr_toggle">
          <tr *ngFor="let item of recipie_list[current_index].ingredients">
            <td style="text-align: left">
              {{ item[0] }} {{ item[1] }}
            </td>
          <td>
            {{ item[2] }}
          </td>
        </tr>
      </table>
    </div>

    <div fxFlex>
      <h3 fxHide.md fxHide.lt-md>Metod</h3>
      <button mat-button fxHide.gt-md (click)='method_toggle=!method_toggle'>
        <h3>Metod</h3>
      </button>
      <table *ngIf="method_toggle">
        <tr *ngFor="let item of recipie_list[current_index].method; let i = index">
          <td>
            {{ i+1 }}.
          </td>
          <td>
            <p>
              {{ item }}
            </p>  
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

